<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dream Job 🤟</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Главная <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
            <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
            <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
            <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
        </div>
    </div>
</nav>